/* layer: preflights */
*,::before,::after{--un-rotate:0;--un-rotate-x:0;--un-rotate-y:0;--un-rotate-z:0;--un-scale-x:1;--un-scale-y:1;--un-scale-z:1;--un-skew-x:0;--un-skew-y:0;--un-translate-x:0;--un-translate-y:0;--un-translate-z:0;--un-pan-x: ;--un-pan-y: ;--un-pinch-zoom: ;--un-scroll-snap-strictness:proximity;--un-ordinal: ;--un-slashed-zero: ;--un-numeric-figure: ;--un-numeric-spacing: ;--un-numeric-fraction: ;--un-border-spacing-x:0;--un-border-spacing-y:0;--un-ring-offset-shadow:0 0 rgb(0 0 0 / 0);--un-ring-shadow:0 0 rgb(0 0 0 / 0);--un-shadow-inset: ;--un-shadow:0 0 rgb(0 0 0 / 0);--un-ring-inset: ;--un-ring-offset-width:0px;--un-ring-offset-color:#fff;--un-ring-width:0px;--un-ring-color:rgb(147 197 253 / 0.5);--un-blur: ;--un-brightness: ;--un-contrast: ;--un-drop-shadow: ;--un-grayscale: ;--un-hue-rotate: ;--un-invert: ;--un-saturate: ;--un-sepia: ;--un-backdrop-blur: ;--un-backdrop-brightness: ;--un-backdrop-contrast: ;--un-backdrop-grayscale: ;--un-backdrop-hue-rotate: ;--un-backdrop-invert: ;--un-backdrop-opacity: ;--un-backdrop-saturate: ;--un-backdrop-sepia: ;}::backdrop{--un-rotate:0;--un-rotate-x:0;--un-rotate-y:0;--un-rotate-z:0;--un-scale-x:1;--un-scale-y:1;--un-scale-z:1;--un-skew-x:0;--un-skew-y:0;--un-translate-x:0;--un-translate-y:0;--un-translate-z:0;--un-pan-x: ;--un-pan-y: ;--un-pinch-zoom: ;--un-scroll-snap-strictness:proximity;--un-ordinal: ;--un-slashed-zero: ;--un-numeric-figure: ;--un-numeric-spacing: ;--un-numeric-fraction: ;--un-border-spacing-x:0;--un-border-spacing-y:0;--un-ring-offset-shadow:0 0 rgb(0 0 0 / 0);--un-ring-shadow:0 0 rgb(0 0 0 / 0);--un-shadow-inset: ;--un-shadow:0 0 rgb(0 0 0 / 0);--un-ring-inset: ;--un-ring-offset-width:0px;--un-ring-offset-color:#fff;--un-ring-width:0px;--un-ring-color:rgb(147 197 253 / 0.5);--un-blur: ;--un-brightness: ;--un-contrast: ;--un-drop-shadow: ;--un-grayscale: ;--un-hue-rotate: ;--un-invert: ;--un-saturate: ;--un-sepia: ;--un-backdrop-blur: ;--un-backdrop-brightness: ;--un-backdrop-contrast: ;--un-backdrop-grayscale: ;--un-backdrop-hue-rotate: ;--un-backdrop-invert: ;--un-backdrop-opacity: ;--un-backdrop-saturate: ;--un-backdrop-sepia: ;}

          @keyframes shadcn-down { from{ height: 0 } to { height: var(--radix-accordion-content-height)} }
          @keyframes shadcn-up { from{ height: var(--radix-accordion-content-height)} to { height: 0 } }
          @keyframes shadcn-collapsible-down { from{ height: 0 } to { height: var(--radix-collapsible-content-height)} }
          @keyframes shadcn-collapsible-up { from{ height: var(--radix-collapsible-content-height)} to { height: 0 } }

          :root {
  --background: 0 0% 100%;
  --foreground: 20 14.3% 4.1%;
  --card: 0 0% 100%;
  --card-foreground: 20 14.3% 4.1%;
  --popover: 0 0% 100%;
  --popover-foreground: 20 14.3% 4.1%;
  --primary: 24 9.8% 10%;
  --primary-foreground: 60 9.1% 97.8%;
  --secondary: 60 4.8% 95.9%;
  --secondary-foreground: 24 9.8% 10%;
  --muted: 60 4.8% 95.9%;
  --muted-foreground: 25 5.3% 44.7%;
  --accent: 60 4.8% 95.9%;
  --accent-foreground: 24 9.8% 10%;
  --destructive: 0 84.2% 60.2%;
  --destructive-foreground: 60 9.1% 97.8%;
  --border: 20 5.9% 90%;
  --input: 20 5.9% 90%;
  --ring: 20 14.3% 4.1%;
  --radius: 0.5rem;
}

.dark {
  --background: 20 14.3% 4.1%;
  --foreground: 60 9.1% 97.8%;
  --card: 20 14.3% 4.1%;
  --card-foreground: 60 9.1% 97.8%;
  --popover: 20 14.3% 4.1%;
  --popover-foreground: 60 9.1% 97.8%;
  --primary: 60 9.1% 97.8%;
  --primary-foreground: 24 9.8% 10%;
  --secondary: 12 6.5% 15.1%;
  --secondary-foreground: 60 9.1% 97.8%;
  --muted: 12 6.5% 15.1%;
  --muted-foreground: 24 5.4% 63.9%;
  --accent: 12 6.5% 15.1%;
  --accent-foreground: 60 9.1% 97.8%;
  --destructive: 0 62.8% 30.6%;
  --destructive-foreground: 60 9.1% 97.8%;
  --border: 12 6.5% 15.1%;
  --input: 12 6.5% 15.1%;
  --ring: 24 5.7% 82.9%;
}

          * {
            border-color: hsl(var(--border));
          }

          body {
            color: hsl(var(--foreground));
            background: hsl(var(--background));
          }
        
/* layer: default */
.sr-only{position:absolute;width:1px;height:1px;padding:0;margin:-1px;overflow:hidden;clip:rect(0,0,0,0);white-space:nowrap;border-width:0;}
.pointer-events-auto{pointer-events:auto;}
.data-\[disabled\]\:pointer-events-none[data-disabled]{pointer-events:none;}
.disabled\:pointer-events-none:disabled{pointer-events:none;}
.invisible{visibility:hidden;}
.absolute{position:absolute;}
.fixed{position:fixed;}
.relative{position:relative;}
.focus-within\:relative:focus-within{position:relative;}
.inset-0{inset:0;}
.inset-x-0{left:0;right:0;}
.bottom-0{bottom:0;}
.left-\[50\%\]{left:50%;}
.left-1{left:0.25rem;}
.left-2{left:0.5rem;}
.right-1{right:0.25rem;}
.right-2{right:0.5rem;}
.right-4{right:1rem;}
.top-\[50\%\]{top:50%;}
.top-0{top:0;}
.top-2{top:0.5rem;}
.top-4{top:1rem;}
.\[\&\>span\]\:line-clamp-1>span{overflow:hidden;display:-webkit-box;-webkit-box-orient:vertical;-webkit-line-clamp:1;line-clamp:1;}
.z-\[100\]{z-index:100;}
.z-50{z-index:50;}
.focus-within\:z-20:focus-within{z-index:20;}
.grid{display:grid;}
.grid-flow-col{grid-auto-flow:column;}
.-mx-1{margin-left:-0.25rem;margin-right:-0.25rem;}
.mx-auto{margin-left:auto;margin-right:auto;}
.my-1{margin-top:0.25rem;margin-bottom:0.25rem;}
.ml-auto{margin-left:auto;}
.mr-2{margin-right:0.5rem;}
.mt-2{margin-top:0.5rem;}
.mt-24{margin-top:6rem;}
.mt-4{margin-top:1rem;}
.mt-auto{margin-top:auto;}
.\[\&_\[cmdk-input-wrapper\]_svg\]\:h-5 [cmdk-input-wrapper] svg,
.\[\&_\[cmdk-item\]_svg\]\:h-5 [cmdk-item] svg{height:1.25rem;}
.\[\&_\[cmdk-input-wrapper\]_svg\]\:w-5 [cmdk-input-wrapper] svg,
.\[\&_\[cmdk-item\]_svg\]\:w-5 [cmdk-item] svg{width:1.25rem;}
.\[\&_\[cmdk-input\]\]\:h-12 [cmdk-input]{height:3rem;}
.h-\[var\(--radix-select-trigger-height\)\]{height:var(--radix-select-trigger-height);}
.h-10{height:2.5rem;}
.h-11{height:2.75rem;}
.h-2{height:0.5rem;}
.h-3\.5{height:0.875rem;}
.h-4{height:1rem;}
.h-7{height:1.75rem;}
.h-8{height:2rem;}
.h-9{height:2.25rem;}
.h-auto{height:auto;}
.h-full{height:100%;}
.h-px{height:1px;}
.max-h-\[300px\]{max-height:300px;}
.max-h-96{max-height:24rem;}
.max-h-screen{max-height:100vh;}
.max-w-\[800px\]{max-width:800px;}
.max-w-lg{max-width:32rem;}
.max-w-max{max-width:max-content;}
.min-w-\[8rem\]{min-width:8rem;}
.min-w-\[var\(--radix-select-trigger-width\)\]{min-width:var(--radix-select-trigger-width);}
.min-w-lg{min-width:32rem;}
.w-\[100px\]{width:100px;}
.w-10{width:2.5rem;}
.w-3\.5{width:0.875rem;}
.w-4{width:1rem;}
.w-7{width:1.75rem;}
.w-72{width:18rem;}
.w-9{width:2.25rem;}
.w-full{width:100%;}
.flex{display:flex;}
.inline-flex{display:inline-flex;}
.shrink-0{flex-shrink:0;}
.flex-col{flex-direction:column;}
.flex-col-reverse{flex-direction:column-reverse;}
.table{display:table;}
.border-collapse{border-collapse:collapse;}
.data-\[side\=bottom\]\:translate-y-1[data-side=bottom]{--un-translate-y:0.25rem;transform:translateX(var(--un-translate-x)) translateY(var(--un-translate-y)) translateZ(var(--un-translate-z)) rotate(var(--un-rotate)) rotateX(var(--un-rotate-x)) rotateY(var(--un-rotate-y)) rotateZ(var(--un-rotate-z)) skewX(var(--un-skew-x)) skewY(var(--un-skew-y)) scaleX(var(--un-scale-x)) scaleY(var(--un-scale-y)) scaleZ(var(--un-scale-z));}
.data-\[side\=left\]\:-translate-x-1[data-side=left]{--un-translate-x:-0.25rem;transform:translateX(var(--un-translate-x)) translateY(var(--un-translate-y)) translateZ(var(--un-translate-z)) rotate(var(--un-rotate)) rotateX(var(--un-rotate-x)) rotateY(var(--un-rotate-y)) rotateZ(var(--un-rotate-z)) skewX(var(--un-skew-x)) skewY(var(--un-skew-y)) scaleX(var(--un-scale-x)) scaleY(var(--un-scale-y)) scaleZ(var(--un-scale-z));}
.data-\[side\=right\]\:translate-x-1[data-side=right]{--un-translate-x:0.25rem;transform:translateX(var(--un-translate-x)) translateY(var(--un-translate-y)) translateZ(var(--un-translate-z)) rotate(var(--un-rotate)) rotateX(var(--un-rotate-x)) rotateY(var(--un-rotate-y)) rotateZ(var(--un-rotate-z)) skewX(var(--un-skew-x)) skewY(var(--un-skew-y)) scaleX(var(--un-scale-x)) scaleY(var(--un-scale-y)) scaleZ(var(--un-scale-z));}
.data-\[side\=top\]\:-translate-y-1[data-side=top]{--un-translate-y:-0.25rem;transform:translateX(var(--un-translate-x)) translateY(var(--un-translate-y)) translateZ(var(--un-translate-z)) rotate(var(--un-rotate)) rotateX(var(--un-rotate-x)) rotateY(var(--un-rotate-y)) rotateZ(var(--un-rotate-z)) skewX(var(--un-skew-x)) skewY(var(--un-skew-y)) scaleX(var(--un-scale-x)) scaleY(var(--un-scale-y)) scaleZ(var(--un-scale-z));}
.data-\[swipe\=cancel\]\:translate-x-0[data-swipe=cancel]{--un-translate-x:0;transform:translateX(var(--un-translate-x)) translateY(var(--un-translate-y)) translateZ(var(--un-translate-z)) rotate(var(--un-rotate)) rotateX(var(--un-rotate-x)) rotateY(var(--un-rotate-y)) rotateZ(var(--un-rotate-z)) skewX(var(--un-skew-x)) skewY(var(--un-skew-y)) scaleX(var(--un-scale-x)) scaleY(var(--un-scale-y)) scaleZ(var(--un-scale-z));}
.data-\[swipe\=end\]\:translate-x-\[var\(--radix-toast-swipe-end-x\)\][data-swipe=end]{--un-translate-x:var(--radix-toast-swipe-end-x);transform:translateX(var(--un-translate-x)) translateY(var(--un-translate-y)) translateZ(var(--un-translate-z)) rotate(var(--un-rotate)) rotateX(var(--un-rotate-x)) rotateY(var(--un-rotate-y)) rotateZ(var(--un-rotate-z)) skewX(var(--un-skew-x)) skewY(var(--un-skew-y)) scaleX(var(--un-scale-x)) scaleY(var(--un-scale-y)) scaleZ(var(--un-scale-z));}
.data-\[swipe\=move\]\:translate-x-\[var\(--radix-toast-swipe-move-x\)\][data-swipe=move]{--un-translate-x:var(--radix-toast-swipe-move-x);transform:translateX(var(--un-translate-x)) translateY(var(--un-translate-y)) translateZ(var(--un-translate-z)) rotate(var(--un-rotate)) rotateX(var(--un-rotate-x)) rotateY(var(--un-rotate-y)) rotateZ(var(--un-rotate-z)) skewX(var(--un-skew-x)) skewY(var(--un-skew-y)) scaleX(var(--un-scale-x)) scaleY(var(--un-scale-y)) scaleZ(var(--un-scale-z));}
.translate-x-\[-50\%\]{--un-translate-x:-50%;transform:translateX(var(--un-translate-x)) translateY(var(--un-translate-y)) translateZ(var(--un-translate-z)) rotate(var(--un-rotate)) rotateX(var(--un-rotate-x)) rotateY(var(--un-rotate-y)) rotateZ(var(--un-rotate-z)) skewX(var(--un-skew-x)) skewY(var(--un-skew-y)) scaleX(var(--un-scale-x)) scaleY(var(--un-scale-y)) scaleZ(var(--un-scale-z));}
.translate-y-\[-50\%\]{--un-translate-y:-50%;transform:translateX(var(--un-translate-x)) translateY(var(--un-translate-y)) translateZ(var(--un-translate-z)) rotate(var(--un-rotate)) rotateX(var(--un-rotate-x)) rotateY(var(--un-rotate-y)) rotateZ(var(--un-rotate-z)) skewX(var(--un-skew-x)) skewY(var(--un-skew-y)) scaleX(var(--un-scale-x)) scaleY(var(--un-scale-y)) scaleZ(var(--un-scale-z));}
@keyframes una-in{from{opacity:var(--una-enter-opacity,1);transform:translate3d(var(--una-enter-translate-x,0),var(--una-enter-translate-y,0),0) scale3d(var(--una-enter-scale,1),var(--una-enter-scale,1),var(--una-enter-scale,1)) rotate(var(--una-enter-rotate,0))}}
.data-\[state\=open\]\:animate-in[data-state=open]{animation:una-in;animation-name:una-in;animation-duration:150ms;--una-enter-opacity:initial;--una-enter-scale:initial;--una-enter-rotate:initial;--una-enter-translate-x:initial;--una-enter-translate-y:initial;}
@keyframes una-out{to{opacity:var(--una-exit-opacity,1);transform:translate3d(var(--una-exit-translate-x,0),var(--una-exit-translate-y,0),0) scale3d(var(--una-exit-scale,1),var(--una-exit-scale,1),var(--una-exit-scale,1)) rotate(var(--una-exit-rotate,0))}}
.data-\[state\=closed\]\:animate-out[data-state=closed],
.data-\[swipe\=end\]\:animate-out[data-swipe=end]{animation:una-out;animation-name:una-out;animation-duration:150ms;--una-exit-opacity:initial;--una-exit-scale:initial;--una-exit-rotate:initial;--una-exit-translate-x:initial;--una-exit-translate-y:initial;}
.cursor-default{cursor:default;}
.disabled\:cursor-not-allowed:disabled{cursor:not-allowed;}
.peer:disabled~.peer-disabled\:cursor-not-allowed{cursor:not-allowed;}
.select-none{-webkit-user-select:none;user-select:none;}
.items-center{align-items:center;}
.justify-center{justify-content:center;}
.justify-between{justify-content:space-between;}
.gap-1{gap:0.25rem;}
.gap-1\.5{gap:0.375rem;}
.gap-2{gap:0.5rem;}
.gap-4{gap:1rem;}
.flex-justify-self-center{justify-self:center;}
.space-x-1>:not([hidden])~:not([hidden]){--un-space-x-reverse:0;margin-left:calc(0.25rem * calc(1 - var(--un-space-x-reverse)));margin-right:calc(0.25rem * var(--un-space-x-reverse));}
.space-x-4>:not([hidden])~:not([hidden]){--un-space-x-reverse:0;margin-left:calc(1rem * calc(1 - var(--un-space-x-reverse)));margin-right:calc(1rem * var(--un-space-x-reverse));}
.space-y-1\.5>:not([hidden])~:not([hidden]){--un-space-y-reverse:0;margin-top:calc(0.375rem * calc(1 - var(--un-space-y-reverse)));margin-bottom:calc(0.375rem * var(--un-space-y-reverse));}
.space-y-1>:not([hidden])~:not([hidden]){--un-space-y-reverse:0;margin-top:calc(0.25rem * calc(1 - var(--un-space-y-reverse)));margin-bottom:calc(0.25rem * var(--un-space-y-reverse));}
.space-y-2>:not([hidden])~:not([hidden]){--un-space-y-reverse:0;margin-top:calc(0.5rem * calc(1 - var(--un-space-y-reverse)));margin-bottom:calc(0.5rem * var(--un-space-y-reverse));}
.space-y-4>:not([hidden])~:not([hidden]){--un-space-y-reverse:0;margin-top:calc(1rem * calc(1 - var(--un-space-y-reverse)));margin-bottom:calc(1rem * var(--un-space-y-reverse));}
.overflow-hidden{overflow:hidden;}
.overflow-x-hidden{overflow-x:hidden;}
.overflow-y-auto{overflow-y:auto;}
.whitespace-nowrap{white-space:nowrap;}
.border{border-width:1px;}
.file\:border-0::file-selector-button{border-width:0px;}
.border-b{border-bottom-width:1px;}
.group.destructive .group-\[\.destructive\]\:border-muted\/40{border-color:hsl(var(--muted) / 0.4);}
.group.destructive .group-\[\.destructive\]\:hover\:border-destructive\/30:hover{border-color:hsl(var(--destructive) / 0.3);}
.border-destructive{--un-border-opacity:1;border-color:hsl(var(--destructive) / var(--un-border-opacity));}
.border-input{--un-border-opacity:1;border-color:hsl(var(--input) / var(--un-border-opacity));}
.rounded{border-radius:0.25rem;}
.rounded-full{border-radius:9999px;}
.rounded-lg{border-radius:var(--radius);}
.rounded-md{border-radius:calc(var(--radius) - 2px);}
.rounded-sm{border-radius:calc(var(--radius) - 4px);}
.\[\&\:has\(\[aria-selected\]\.day-range-end\)\]\:rounded-r-md:has([aria-selected].day-range-end){border-top-right-radius:calc(var(--radius) - 2px);border-bottom-right-radius:calc(var(--radius) - 2px);}
.rounded-t-\[10px\]{border-top-left-radius:10px;border-top-right-radius:10px;}
.first\:\[\&\:has\(\[aria-selected\]\)\]\:rounded-l-md:has([aria-selected]):first-child{border-top-left-radius:calc(var(--radius) - 2px);border-bottom-left-radius:calc(var(--radius) - 2px);}
.last\:\[\&\:has\(\[aria-selected\]\)\]\:rounded-r-md:has([aria-selected]):last-child{border-top-right-radius:calc(var(--radius) - 2px);border-bottom-right-radius:calc(var(--radius) - 2px);}
.group.destructive .group-\[\.destructive\]\:hover\:bg-destructive:hover{--un-bg-opacity:1;background-color:hsl(var(--destructive) / var(--un-bg-opacity));}
.\[\&\:has\(\[aria-selected\]\.day-outside\)\]\:bg-accent\/50:has([aria-selected].day-outside),
.aria-selected\:bg-accent\/50[aria-selected="true"]{background-color:hsl(var(--accent) / 0.5);}
.\[\&\:has\(\[aria-selected\]\)\]\:bg-accent:has([aria-selected]),
.aria-selected\:bg-accent[aria-selected="true"],
.bg-accent,
.data-\[state\=open\]\:bg-accent[data-state=open]{--un-bg-opacity:1;background-color:hsl(var(--accent) / var(--un-bg-opacity));}
.bg-background{--un-bg-opacity:1;background-color:hsl(var(--background) / var(--un-bg-opacity));}
.bg-black\/80{background-color:rgb(0 0 0 / 0.8);}
.bg-border{--un-bg-opacity:1;background-color:hsl(var(--border) / var(--un-bg-opacity));}
.bg-card{--un-bg-opacity:1;background-color:hsl(var(--card) / var(--un-bg-opacity));}
.bg-destructive{--un-bg-opacity:1;background-color:hsl(var(--destructive) / var(--un-bg-opacity));}
.bg-light{--un-bg-opacity:1;background-color:rgb(246 246 246 / var(--un-bg-opacity));}
.bg-muted{--un-bg-opacity:1;background-color:hsl(var(--muted) / var(--un-bg-opacity));}
.bg-popover{--un-bg-opacity:1;background-color:hsl(var(--popover) / var(--un-bg-opacity));}
.bg-primary{--un-bg-opacity:1;background-color:hsl(var(--primary) / var(--un-bg-opacity));}
.bg-secondary{--un-bg-opacity:1;background-color:hsl(var(--secondary) / var(--un-bg-opacity));}
.bg-transparent{background-color:transparent;}
.hover\:bg-accent:hover{--un-bg-opacity:1;background-color:hsl(var(--accent) / var(--un-bg-opacity));}
.hover\:bg-destructive\/90:hover{background-color:hsl(var(--destructive) / 0.9);}
.hover\:bg-primary:hover{--un-bg-opacity:1;background-color:hsl(var(--primary) / var(--un-bg-opacity));}
.hover\:bg-primary\/90:hover{background-color:hsl(var(--primary) / 0.9);}
.hover\:bg-secondary:hover{--un-bg-opacity:1;background-color:hsl(var(--secondary) / var(--un-bg-opacity));}
.hover\:bg-secondary\/80:hover{background-color:hsl(var(--secondary) / 0.8);}
.focus\:bg-accent:focus{--un-bg-opacity:1;background-color:hsl(var(--accent) / var(--un-bg-opacity));}
.focus\:bg-primary:focus{--un-bg-opacity:1;background-color:hsl(var(--primary) / var(--un-bg-opacity));}
.file\:bg-transparent::file-selector-button{background-color:transparent;}
.p-0{padding:0;}
.p-1{padding:0.25rem;}
.p-3{padding:0.75rem;}
.p-4{padding:1rem;}
.p-6{padding:1.5rem;}
.p-8{padding:2rem;}
.\[\&_\[cmdk-group-heading\]\]\:px-2 [cmdk-group-heading],
.\[\&_\[cmdk-group\]\]\:px-2 [cmdk-group],
.\[\&_\[cmdk-item\]\]\:px-2 [cmdk-item],
.px-2{padding-left:0.5rem;padding-right:0.5rem;}
.\[\&_\[cmdk-group-heading\]\]\:py-1\.5 [cmdk-group-heading],
.py-1\.5{padding-top:0.375rem;padding-bottom:0.375rem;}
.\[\&_\[cmdk-item\]\]\:py-3 [cmdk-item],
.py-3{padding-top:0.75rem;padding-bottom:0.75rem;}
.px-3{padding-left:0.75rem;padding-right:0.75rem;}
.px-4{padding-left:1rem;padding-right:1rem;}
.px-8{padding-left:2rem;padding-right:2rem;}
.py-1{padding-top:0.25rem;padding-bottom:0.25rem;}
.py-2{padding-top:0.5rem;padding-bottom:0.5rem;}
.py-6{padding-top:1.5rem;padding-bottom:1.5rem;}
.\[\&_\[cmdk-group\]\:not\(\[hidden\]\)_\~\[cmdk-group\]\]\:pt-0 [cmdk-group]:not([hidden]) ~[cmdk-group],
.pt-0{padding-top:0;}
.pl-8{padding-left:2rem;}
.pr-2{padding-right:0.5rem;}
.pr-8{padding-right:2rem;}
.pt-1{padding-top:0.25rem;}
.text-center{text-align:center;}
.\[\&_\[cmdk-group-heading\]\]\:text-xs [cmdk-group-heading],
.text-xs{font-size:0.75rem;line-height:1rem;}
.text-\[0\.8rem\]{font-size:0.8rem;}
.text-2xl{font-size:1.5rem;line-height:2rem;}
.text-3xl{font-size:1.875rem;line-height:2.25rem;}
.text-lg{font-size:1.125rem;line-height:1.75rem;}
.text-sm{font-size:0.875rem;line-height:1.25rem;}
.file\:text-sm::file-selector-button{font-size:0.875rem;line-height:1.25rem;}
.group.destructive .group-\[\.destructive\]\:hover\:text-destructive-foreground:hover{--un-text-opacity:1;color:hsl(var(--destructive-foreground) / var(--un-text-opacity));}
.group.destructive .group-\[\.destructive\]\:hover\:text-red-50:hover{--un-text-opacity:1;color:rgb(254 242 242 / var(--un-text-opacity));}
.group.destructive .group-\[\.destructive\]\:text-red-300{--un-text-opacity:1;color:rgb(252 165 165 / var(--un-text-opacity));}
.\[\&_\[cmdk-group-heading\]\]\:text-muted-foreground [cmdk-group-heading],
.aria-selected\:text-muted-foreground[aria-selected="true"],
.data-\[state\=open\]\:text-muted-foreground[data-state=open],
.text-muted-foreground{--un-text-opacity:1;color:hsl(var(--muted-foreground) / var(--un-text-opacity));}
.aria-selected\:text-accent-foreground[aria-selected="true"],
.text-accent-foreground{--un-text-opacity:1;color:hsl(var(--accent-foreground) / var(--un-text-opacity));}
.text-card-foreground{--un-text-opacity:1;color:hsl(var(--card-foreground) / var(--un-text-opacity));}
.text-destructive{--un-text-opacity:1;color:hsl(var(--destructive) / var(--un-text-opacity));}
.text-destructive-foreground{--un-text-opacity:1;color:hsl(var(--destructive-foreground) / var(--un-text-opacity));}
.text-foreground{--un-text-opacity:1;color:hsl(var(--foreground) / var(--un-text-opacity));}
.text-foreground\/50{color:hsl(var(--foreground) / 0.5);}
.text-popover-foreground{--un-text-opacity:1;color:hsl(var(--popover-foreground) / var(--un-text-opacity));}
.text-primary{--un-text-opacity:1;color:hsl(var(--primary) / var(--un-text-opacity));}
.text-primary-foreground{--un-text-opacity:1;color:hsl(var(--primary-foreground) / var(--un-text-opacity));}
.text-red-6{--un-text-opacity:1;color:rgb(220 38 38 / var(--un-text-opacity));}
.text-secondary-foreground{--un-text-opacity:1;color:hsl(var(--secondary-foreground) / var(--un-text-opacity));}
.hover\:text-accent-foreground:hover{--un-text-opacity:1;color:hsl(var(--accent-foreground) / var(--un-text-opacity));}
.hover\:text-foreground:hover{--un-text-opacity:1;color:hsl(var(--foreground) / var(--un-text-opacity));}
.hover\:text-primary-foreground:hover{--un-text-opacity:1;color:hsl(var(--primary-foreground) / var(--un-text-opacity));}
.focus\:text-accent-foreground:focus{--un-text-opacity:1;color:hsl(var(--accent-foreground) / var(--un-text-opacity));}
.focus\:text-primary-foreground:focus{--un-text-opacity:1;color:hsl(var(--primary-foreground) / var(--un-text-opacity));}
.placeholder\:text-muted-foreground::placeholder{--un-text-opacity:1;color:hsl(var(--muted-foreground) / var(--un-text-opacity));}
.\[\&_\[cmdk-group-heading\]\]\:font-medium [cmdk-group-heading],
.font-medium{font-weight:500;}
.font-normal{font-weight:400;}
.font-semibold{font-weight:600;}
.file\:font-medium::file-selector-button{font-weight:500;}
.leading-none{line-height:1;}
.tracking-tight{letter-spacing:-0.025em;}
.tracking-widest{letter-spacing:0.1em;}
.hover\:underline:hover{text-decoration-line:underline;}
.underline-offset-4{text-underline-offset:4px;}
.aria-selected\:opacity-100[aria-selected="true"],
.group:hover .group-hover\:opacity-100{opacity:1;}
.aria-selected\:opacity-30[aria-selected="true"]{opacity:0.3;}
.data-\[disabled\]\:opacity-50[data-disabled],
.opacity-50{opacity:0.5;}
.opacity-0{opacity:0;}
.opacity-70,
.peer:disabled~.peer-disabled\:opacity-70{opacity:0.7;}
.opacity-90{opacity:0.9;}
.hover\:opacity-100:hover{opacity:1;}
.focus\:opacity-100:focus{opacity:1;}
.disabled\:opacity-50:disabled{opacity:0.5;}
.shadow-lg{--un-shadow:var(--un-shadow-inset) 0 10px 15px -3px var(--un-shadow-color, rgb(0 0 0 / 0.1)),var(--un-shadow-inset) 0 4px 6px -4px var(--un-shadow-color, rgb(0 0 0 / 0.1));box-shadow:var(--un-ring-offset-shadow), var(--un-ring-shadow), var(--un-shadow);}
.shadow-md{--un-shadow:var(--un-shadow-inset) 0 4px 6px -1px var(--un-shadow-color, rgb(0 0 0 / 0.1)),var(--un-shadow-inset) 0 2px 4px -2px var(--un-shadow-color, rgb(0 0 0 / 0.1));box-shadow:var(--un-ring-offset-shadow), var(--un-ring-shadow), var(--un-shadow);}
.shadow-sm{--un-shadow:var(--un-shadow-inset) 0 1px 2px 0 var(--un-shadow-color, rgb(0 0 0 / 0.05));box-shadow:var(--un-ring-offset-shadow), var(--un-ring-shadow), var(--un-shadow);}
.outline{outline-style:solid;}
.outline-none{outline:2px solid transparent;outline-offset:2px;}
.focus\:outline-none:focus{outline:2px solid transparent;outline-offset:2px;}
.focus-visible\:outline-none:focus-visible{outline:2px solid transparent;outline-offset:2px;}
.ring{--un-ring-width:1px;--un-ring-offset-shadow:var(--un-ring-inset) 0 0 0 var(--un-ring-offset-width) var(--un-ring-offset-color);--un-ring-shadow:var(--un-ring-inset) 0 0 0 calc(var(--un-ring-width) + var(--un-ring-offset-width)) var(--un-ring-color);box-shadow:var(--un-ring-offset-shadow), var(--un-ring-shadow), var(--un-shadow);}
.focus\:ring-2:focus{--un-ring-width:2px;--un-ring-offset-shadow:var(--un-ring-inset) 0 0 0 var(--un-ring-offset-width) var(--un-ring-offset-color);--un-ring-shadow:var(--un-ring-inset) 0 0 0 calc(var(--un-ring-width) + var(--un-ring-offset-width)) var(--un-ring-color);box-shadow:var(--un-ring-offset-shadow), var(--un-ring-shadow), var(--un-shadow);}
.focus-visible\:ring-2:focus-visible{--un-ring-width:2px;--un-ring-offset-shadow:var(--un-ring-inset) 0 0 0 var(--un-ring-offset-width) var(--un-ring-offset-color);--un-ring-shadow:var(--un-ring-inset) 0 0 0 calc(var(--un-ring-width) + var(--un-ring-offset-width)) var(--un-ring-color);box-shadow:var(--un-ring-offset-shadow), var(--un-ring-shadow), var(--un-shadow);}
.focus\:ring-offset-2:focus{--un-ring-offset-width:2px;}
.focus-visible\:ring-offset-2:focus-visible{--un-ring-offset-width:2px;}
.group.destructive .group-\[\.destructive\]\:focus\:ring-destructive:focus{--un-ring-opacity:1;--un-ring-color:hsl(var(--destructive) / var(--un-ring-opacity));}
.group.destructive .group-\[\.destructive\]\:focus\:ring-red-400:focus{--un-ring-opacity:1;--un-ring-color:rgb(248 113 113 / var(--un-ring-opacity));}
.focus\:ring-ring:focus{--un-ring-opacity:1;--un-ring-color:hsl(var(--ring) / var(--un-ring-opacity));}
.focus-visible\:ring-ring:focus-visible{--un-ring-opacity:1;--un-ring-color:hsl(var(--ring) / var(--un-ring-opacity));}
.group.destructive .group-\[\.destructive\]\:focus\:ring-offset-red-600:focus{--un-ring-offset-opacity:1;--un-ring-offset-color:rgb(220 38 38 / var(--un-ring-offset-opacity));}
.ring-offset-background{--un-ring-offset-opacity:1;--un-ring-offset-color:hsl(var(--background) / var(--un-ring-offset-opacity));}
.transition-all{transition-property:all;transition-timing-function:cubic-bezier(0.4, 0, 0.2, 1);transition-duration:150ms;}
.transition-colors{transition-property:color,background-color,border-color,outline-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(0.4, 0, 0.2, 1);transition-duration:150ms;}
.transition-opacity{transition-property:opacity;transition-timing-function:cubic-bezier(0.4, 0, 0.2, 1);transition-duration:150ms;}
.duration-200{transition-duration:200ms;}
.data-\[swipe\=move\]\:transition-none[data-swipe=move]{transition:none;}
.data-\[state\=open\]\:fade-in-0[data-state=open]{--una-enter-opacity:0;}
.data-\[state\=closed\]\:fade-out-0[data-state=closed]{--una-exit-opacity:0;}
.data-\[state\=closed\]\:fade-out-80[data-state=closed]{--una-exit-opacity:0.8;}
.data-\[state\=open\]\:zoom-in-95[data-state=open]{--una-enter-scale:0.95;}
.data-\[state\=closed\]\:zoom-out-95[data-state=closed]{--una-exit-scale:0.95;}
.data-\[side\=bottom\]\:slide-in-from-top-2[data-side=bottom]{--una-enter-translate-y:-0.5rem;}
.data-\[side\=left\]\:slide-in-from-right-2[data-side=left]{--una-enter-translate-x:0.5rem;}
.data-\[side\=right\]\:slide-in-from-left-2[data-side=right]{--una-enter-translate-x:-0.5rem;}
.data-\[side\=top\]\:slide-in-from-bottom-2[data-side=top]{--una-enter-translate-y:0.5rem;}
.data-\[state\=open\]\:slide-in-from-left-1\/2[data-state=open]{--una-enter-translate-x:-50%;}
.data-\[state\=open\]\:slide-in-from-top-full[data-state=open]{--una-enter-translate-y:-100%;}
.data-\[state\=closed\]\:slide-out-to-left-1\/2[data-state=closed]{--una-exit-translate-x:-50%;}
.data-\[state\=closed\]\:slide-out-to-right-full[data-state=closed]{--una-exit-translate-x:100%;}
@media (min-width: 640px){
.sm\:bottom-0{bottom:0;}
.sm\:right-0{right:0;}
.sm\:top-auto{top:auto;}
.sm\:flex-row{flex-direction:row;}
.sm\:flex-col{flex-direction:column;}
.sm\:justify-end{justify-content:flex-end;}
.sm\:space-x-2>:not([hidden])~:not([hidden]){--un-space-x-reverse:0;margin-left:calc(0.5rem * calc(1 - var(--un-space-x-reverse)));margin-right:calc(0.5rem * var(--un-space-x-reverse));}
.sm\:space-x-4>:not([hidden])~:not([hidden]){--un-space-x-reverse:0;margin-left:calc(1rem * calc(1 - var(--un-space-x-reverse)));margin-right:calc(1rem * var(--un-space-x-reverse));}
.sm\:space-y-0>:not([hidden])~:not([hidden]){--un-space-y-reverse:0;margin-top:calc(0px * calc(1 - var(--un-space-y-reverse)));margin-bottom:calc(0px * var(--un-space-y-reverse));}
.sm\:rounded-lg{border-radius:var(--radius);}
.sm\:text-left{text-align:left;}
.data-\[state\=open\]\:sm\:slide-in-from-bottom-full[data-state=open]{--una-enter-translate-y:100%;}
}
@media (min-width: 768px){
.md\:max-w-\[420px\]{max-width:420px;}
}